#logo {
    width: 100px;
    height: 100px;
}

#likebox {
    font-size: 2em;
}
#likebox a {
    text-decoration: none;
}

#album {
    height: 200px;
}

#ayok-significa {
    position: absolute;
    left: 20px;
    bottom: 5px;
}
